.third_fold {
    height: 400vh;
}

.about_container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    padding: 2rem;
    height: 100vh;
    z-index: 1;
}

.about {
    grid-column: 4/span 6;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    letter-spacing: 0.2px;
    color: #D4C8B0;
    font-weight: 600;
}

/* .about {
    grid-column: 4/span 6;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24rem;
    letter-spacing: 0.2px;
    color: #D4C8B0;
    font-weight: 500;
} */

.puzzle_container {
    height: 100vh;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.puzzle {
    grid-column: 4/span 6;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    opacity: 0.32;
}

.puzzle div {
    margin: 0 -1.25em;
}