@font-face {
    font-family: 'SF Pro';
    src: url('./fonts/SF-Pro.woff2') format('woff2');
}

:root {
    /* Primary Colors */
    --color-primary: #D4C8B0;
    --color-secondary: #8a7a40;
    --color-bg-dark: #111110;
    --color-bg-black: #000;

    /* Text Colors */
    --color-text-white: #ffffff;
    --color-text-selection: #3a3530;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro';
    /* font-family: 'BDO Grotesk'; */
}


::selection {
    background-color: var(--color-primary);
    color: var(--color-bg-dark);
}