@font-face {
    font-family: 'SF Pro';
    src: url('./fonts/SF-Pro.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro';
}


::selection {
    background-color: #D4C8B0;
    color: #3a3530;
}